<template>
  <q-btn
    v-if="props.btn"
    v-bind="$attrs"
    class="q-pa-none"
    unelevated
    :color="buttonChecked ? 'grey-6' : 'grey-2'"
    :icon="props.name"
    :outline="buttonChecked"
    :text-color="buttonChecked ? 'black' : 'grey-6'"
    @click="buttonChecked = !buttonChecked"
  >
    <q-tooltip v-if="props.tooltip">{{ props.tooltip }}</q-tooltip>
  </q-btn>
  <q-icon
    v-else
    v-bind="$attrs"
    :name="props.name"
    class="cursor-pointer"
    :class="buttonChecked && 'checked bg-grey-4 rounded-borders'"
    @click="buttonChecked = !buttonChecked"
  >
    <q-tooltip v-if="props.tooltip">{{ props.tooltip }}</q-tooltip>
  </q-icon>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';

interface Props {
  btn?: boolean;
  name: string;
  tooltip?: string;
  modelValue?: boolean;
}

const props = defineProps<Props>();
const emits = defineEmits(['update:modelValue']);
const checkedValue = ref(false);
const buttonChecked = computed({
  get() {
    return checkedValue.value;
  },
  set(val: boolean) {
    checkedValue.value = val;
    emits('update:modelValue', val);
  },
});

if (props.modelValue) {
  buttonChecked.value = true;
}
</script>

<style lang="less" scoped>
.checked {
  border: 1px solid rgba(0, 0, 0, 0.24);
}
</style>
