<template>
  <q-scroll-area v-show="isAnchorTreeVisible" class="col">
    <q-tree
      ref="anchorTreeRef"
      class="tree-anchors"
      default-expand-all
      color="secondary"
      :nodes="anchorsTreeData"
      node-key="key"
      :duration="0"
      no-nodes-label="暂无锚点"
    >
      <template #default-header="prop">
        <a
          class="anchor ellipsis"
          @click.capture.stop="handleAnchorNodeClick(prop.node)"
        >
          {{ prop.node.label }}
        </a>
      </template>
    </q-tree>
  </q-scroll-area>

  <div
    class="separator q-my-sm full-width row justify-center bg-white rounded-borders text-secondary"
    @click="handleAnchorTreeTriggerClick"
  >
    <q-icon
      :name="`keyboard_double_arrow_${isAnchorTreeVisible ? 'up' : 'down'}`"
    />
  </div>
</template>

<script setup lang="ts">
import type { QTreeNode } from 'quasar';
import { anchorsTreeData } from '../MarkdownEditor/components/EditBar/useHttp';
import useAnchors, {
  isAnchorTreeVisible,
  handleAnchorTreeTriggerClick,
} from '../AnchorTree/useAnchors';

const { anchorTreeRef } = useAnchors();

const emits = defineEmits(['node-click']);
const handleAnchorNodeClick = (node: QTreeNode) => {
  emits('node-click', node);
};
</script>

<style lang="less" scoped>
.separator {
  border: 1px solid var(--q-secondary);
}

.anchor {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
</style>
