.emoji-qq_face-0 {
  background-position: 0 0;
}

.emoji-qq_face-1 {
  background-position: calc(var(--emoji-size) * -1) 0;
}

.emoji-qq_face-2 {
  background-position: calc(var(--emoji-size) * -2) 0;
}

.emoji-qq_face-3 {
  background-position: calc(var(--emoji-size) * -3) 0;
}

.emoji-qq_face-4 {
  background-position: calc(var(--emoji-size) * -4) 0;
}

.emoji-qq_face-5 {
  background-position: calc(var(--emoji-size) * -5) 0;
}

.emoji-qq_face-6 {
  background-position: calc(var(--emoji-size) * -6) 0;
}

.emoji-qq_face-7 {
  background-position: calc(var(--emoji-size) * -7) 0;
}

.emoji-qq_face-8 {
  background-position: calc(var(--emoji-size) * -8) 0;
}

.emoji-qq_face-9 {
  background-position: 0 calc(var(--emoji-size) * -1);
}

.emoji-qq_face-10 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-11 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-12 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-13 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-14 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-15 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-16 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-17 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -1);
}

.emoji-qq_face-18 {
  background-position: 0 calc(var(--emoji-size) * -2);
}

.emoji-qq_face-19 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-20 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-21 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-22 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-23 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-24 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-25 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-26 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -2);
}

.emoji-qq_face-27 {
  background-position: 0 calc(var(--emoji-size) * -3);
}

.emoji-qq_face-28 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-29 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-30 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-31 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-32 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-33 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-34 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-35 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -3);
}

.emoji-qq_face-36 {
  background-position: 0 calc(var(--emoji-size) * -4);
}

.emoji-qq_face-37 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-38 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-39 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-40 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-41 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-42 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-43 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-44 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -4);
}

.emoji-qq_face-45 {
  background-position: 0 calc(var(--emoji-size) * -5);
}

.emoji-qq_face-46 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -5);
}

.emoji-qq_face-47 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -5);
}

.emoji-qq_face-48 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -5);
}

.emoji-qq_face-49 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -5);
}

.emoji-qq_face-50 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -5);
}

.emoji-qq_face-51 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -5);
}
