.emoji-wechat-0 {
  background-position: 0 0;
}

.emoji-wechat-1 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -1);
}

.emoji-wechat-2 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -2);
}

.emoji-wechat-3 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -3);
}

.emoji-wechat-4 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -4);
}

.emoji-wechat-5 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -5);
}

.emoji-wechat-6 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -6);
}

.emoji-wechat-7 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -7);
}

.emoji-wechat-8 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -8);
}

.emoji-wechat-9 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -9);
}

.emoji-wechat-10 {
  background-position: calc(var(--emoji-size) * -10) 0;
}

.emoji-wechat-11 {
  background-position: 0 calc(var(--emoji-size) * -1);
}

.emoji-wechat-12 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -2);
}

.emoji-wechat-13 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -3);
}

.emoji-wechat-14 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -4);
}

.emoji-wechat-15 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -5);
}

.emoji-wechat-16 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -6);
}

.emoji-wechat-17 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -7);
}

.emoji-wechat-18 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -8);
}

.emoji-wechat-19 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -9);
}

.emoji-wechat-20 {
  background-position: calc(var(--emoji-size) * -9) 0;
}

.emoji-wechat-21 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -1);
}

.emoji-wechat-22 {
  background-position: 0 calc(var(--emoji-size) * -2);
}

.emoji-wechat-23 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -3);
}

.emoji-wechat-24 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -4);
}

.emoji-wechat-25 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -5);
}

.emoji-wechat-26 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -6);
}

.emoji-wechat-27 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -7);
}

.emoji-wechat-28 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -8);
}

.emoji-wechat-29 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -9);
}

.emoji-wechat-30 {
  background-position: calc(var(--emoji-size) * -8) 0;
}

.emoji-wechat-31 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -1);
}

.emoji-wechat-32 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -2);
}

.emoji-wechat-33 {
  background-position: 0 calc(var(--emoji-size) * -3);
}

.emoji-wechat-34 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -4);
}

.emoji-wechat-35 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -5);
}

.emoji-wechat-36 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -6);
}

.emoji-wechat-37 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -7);
}

.emoji-wechat-38 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -8);
}

.emoji-wechat-39 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -9);
}

.emoji-wechat-40 {
  background-position: calc(var(--emoji-size) * -7) 0;
}

.emoji-wechat-41 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -1);
}

.emoji-wechat-42 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -2);
}

.emoji-wechat-43 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -3);
}

.emoji-wechat-44 {
  background-position: 0 calc(var(--emoji-size) * -4);
}

.emoji-wechat-45 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -5);
}

.emoji-wechat-46 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -6);
}

.emoji-wechat-47 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -7);
}

.emoji-wechat-48 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -8);
}

.emoji-wechat-49 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -9);
}

.emoji-wechat-50 {
  background-position: calc(var(--emoji-size) * -6) 0;
}

.emoji-wechat-51 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -1);
}

.emoji-wechat-52 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -2);
}

.emoji-wechat-53 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -3);
}

.emoji-wechat-54 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -4);
}

.emoji-wechat-55 {
  background-position: 0 calc(var(--emoji-size) * -5);
}

.emoji-wechat-56 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -6);
}

.emoji-wechat-57 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -7);
}

.emoji-wechat-58 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -8);
}

.emoji-wechat-59 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -9);
}

.emoji-wechat-60 {
  background-position: calc(var(--emoji-size) * -5) 0;
}

.emoji-wechat-61 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -1);
}

.emoji-wechat-62 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -2);
}

.emoji-wechat-63 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -3);
}

.emoji-wechat-64 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -4);
}

.emoji-wechat-65 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -5);
}

.emoji-wechat-66 {
  background-position: 0 calc(var(--emoji-size) * -6);
}

.emoji-wechat-67 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -7);
}

.emoji-wechat-68 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -8);
}

.emoji-wechat-69 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -9);
}

.emoji-wechat-70 {
  background-position: calc(var(--emoji-size) * -4) 0;
}

.emoji-wechat-71 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -1);
}

.emoji-wechat-72 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -2);
}

.emoji-wechat-73 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -3);
}

.emoji-wechat-74 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -4);
}

.emoji-wechat-75 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -5);
}

.emoji-wechat-76 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -6);
}

.emoji-wechat-77 {
  background-position: 0 calc(var(--emoji-size) * -7);
}

.emoji-wechat-78 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -8);
}

.emoji-wechat-79 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -9);
}

.emoji-wechat-80 {
  background-position: calc(var(--emoji-size) * -3) 0;
}

.emoji-wechat-81 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -1);
}

.emoji-wechat-82 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -2);
}

.emoji-wechat-83 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -3);
}

.emoji-wechat-84 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -4);
}

.emoji-wechat-85 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -5);
}

.emoji-wechat-86 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -6);
}

.emoji-wechat-87 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -7);
}

.emoji-wechat-88 {
  background-position: 0 calc(var(--emoji-size) * -8);
}

.emoji-wechat-89 {
  background-position: calc(var(--emoji-size) * -1) calc(var(--emoji-size) * -9);
}

.emoji-wechat-90 {
  background-position: calc(var(--emoji-size) * -2) 0;
}

.emoji-wechat-91 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -1);
}

.emoji-wechat-92 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -2);
}

.emoji-wechat-93 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -3);
}

.emoji-wechat-94 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -4);
}

.emoji-wechat-95 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -5);
}

.emoji-wechat-96 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -6);
}

.emoji-wechat-97 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -7);
}

.emoji-wechat-98 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -8);
}

.emoji-wechat-99 {
  background-position: 0 calc(var(--emoji-size) * -9);
}

.emoji-wechat-100 {
  background-position: calc(var(--emoji-size) * -1) 0;
}

.emoji-wechat-101 {
  background-position: calc(var(--emoji-size) * -2) calc(var(--emoji-size) * -1);
}

.emoji-wechat-102 {
  background-position: calc(var(--emoji-size) * -3) calc(var(--emoji-size) * -2);
}

.emoji-wechat-103 {
  background-position: calc(var(--emoji-size) * -4) calc(var(--emoji-size) * -3);
}

.emoji-wechat-104 {
  background-position: calc(var(--emoji-size) * -5) calc(var(--emoji-size) * -4);
}

.emoji-wechat-105 {
  background-position: calc(var(--emoji-size) * -6) calc(var(--emoji-size) * -5);
}

.emoji-wechat-106 {
  background-position: calc(var(--emoji-size) * -7) calc(var(--emoji-size) * -6);
}

.emoji-wechat-107 {
  background-position: calc(var(--emoji-size) * -8) calc(var(--emoji-size) * -7);
}

.emoji-wechat-108 {
  background-position: calc(var(--emoji-size) * -9) calc(var(--emoji-size) * -8);
}

.emoji-wechat-109 {
  background-position: calc(var(--emoji-size) * -10) calc(var(--emoji-size) * -9);
}
