<template>
  <q-item
    class="q-px-xs"
    clickable
    v-ripple
    :active="active"
    active-class="text-secondary"
    @click="hanldeItemClick"
    @dblclick="handleItemDblClick"
  >
    <q-card>
      <q-card-section>
        <div class="row justify-between items-center">
          <div>
            <q-icon
              v-if="active"
              size="md"
              name="img:/icons/stackedit.svg"
              @click.stop="handleOpenStackedit"
            />
            {{ apiTypes[item.type] || defaultApiType }}
          </div>
          <q-icon color="black" name="close" @click.stop="handleDeleteClick" />
        </div>
      </q-card-section>

      <q-card-section class="text-caption text-weight-light q-pt-none">
        <div class="ellipsis-3-lines">
          {{ abstruct }}
        </div>
      </q-card-section>
    </q-card>
  </q-item>
</template>

<script setup lang="ts">
import { resolveYijianData, YijianData } from 'src/store/yijian/models';
import { computed } from 'vue';

interface Props {
  item: YijianData;
  index: number;
  active?: boolean;
}

interface APITypes {
  [key: string]: string;
}

const emits = defineEmits(['selected', 'open-stackedit', 'delete']);

const apiTypes: APITypes = {
  huawei: '华为云',
  tencent: '腾讯云',
  baidu: '百度云',
};

const defaultApiType = apiTypes.tencent;

const props = withDefaults(defineProps<Props>(), {});

const fullText = computed(() => resolveYijianData(props.item));
const abstruct = computed(() => fullText.value.slice(0, 50));

const hanldeItemClick = () => {
  emits('selected', props.item, props.index);
};

const handleItemDblClick = () => {
  emits('open-stackedit', props.item, props.index);
};

const handleOpenStackedit = () => {
  emits('open-stackedit', props.item, props.index);
};

const handleDeleteClick = () => {
  emits('delete', props.index);
};
</script>

<style lang="less" scoped></style>
