<template>
  <div class="row q-gutter-lg q-pa-sm justify-between">
    <q-card v-for="(item, index) in games" :key="index" class="col-5 text-center" @click="handleGameItemClick(item)">
      <q-icon class="q-my-sm" :name="item.icon" size="xl" />

      <q-separator />

      <q-item class="text-subtitle1">{{ item.title }}</q-item>
    </q-card>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

interface GameItem {
  title: string;
  path: string;
  icon: string;
}

const games: GameItem[] = [
  {
    title: '五子棋对战',
    path: 'Gomoku',
    icon: 'grid_goldenratio',
  },
];

const router = useRouter();

const handleGameItemClick = (item: GameItem) => {
  router.push({
    name: item.path,
  });
};
</script>

<style lang="less" scoped></style>
