<template>
  <!-- <div class="row items-center justify-center fit">
  </div> -->
  <Chat />
</template>

<script setup lang="ts">
import Chat from './components/Chat.vue';
</script>

<style lang="less" scoped>
</style>
