<template>
  <q-toolbar class="bg-grey-2 md-toolbar">
    <q-btn dense flat icon="undo" :disable="!canUndo" @click="handleUndo" />
    <q-btn dense flat icon="redo" :disable="!canRedo" @click="handleRedo" />

    <q-separator vertical />

    <q-btn dense flat icon="format_bold" @click="toggleBold">
      <q-tooltip>加粗</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="format_italic" @click="toggleItalic">
      <q-tooltip>斜体</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="strikethrough_s" @click="toggleStrikeThrough">
      <q-tooltip>删除线</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="format_quote" @click="indentQuote">
      <q-tooltip>引用</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="text_increase" @click="selectedFirstToUpper">
      <q-tooltip>选中部分首字母大写</q-tooltip>
    </q-btn>

    <q-separator vertical />

    <q-btn dense stretch flat icon="title">
      <q-menu>
        <q-list>
          <q-item
            v-for="n in 7"
            :key="n"
            clickable
            v-close-popup
            tabindex="0"
            @click="indentHeader(n - 1)"
          >
            <q-item-section>
              <q-item-label>H{{ n - 1 }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>

    <q-separator vertical />

    <q-btn
      class="hidden"
      dense
      flat
      icon="horizontal_rule"
      @click="insertBreakLine"
    >
      <q-tooltip>插入横线</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="image">
      <q-tooltip>上传图片</q-tooltip>
      <q-menu anchor="bottom right" self="top right">
        <ali-uploader label="上传列表" color="secondary" multiple>
          <template #list="scope">
            <q-list separator>
              <q-item v-for="file in scope.files" :key="file.__key">
                <q-item-section>
                  <q-item-label class="full-width ellipsis">
                    {{ file.name }}
                  </q-item-label>

                  <q-item-label caption>
                    状态: {{ file.__status }}
                  </q-item-label>

                  <q-item-label caption>
                    {{ file.__sizeLabel }} / {{ file.__progressLabel }}
                  </q-item-label>
                </q-item-section>

                <q-item-section v-if="file.__img" thumbnail class="gt-xs">
                  <img :src="file.__img.src" />
                </q-item-section>

                <q-item-section top side>
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="delete"
                    @click="scope.removeFile(file)"
                  />
                  <q-btn
                    :disable="file.__status !== 'uploaded'"
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="subdirectory_arrow_left"
                    @click="handleInsertImageLink(file)"
                  >
                    <q-tooltip>插入</q-tooltip>
                  </q-btn>
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </ali-uploader>
      </q-menu>
    </q-btn>

    <q-btn dense flat icon="insert_link">
      <q-tooltip>插入链接</q-tooltip>
      <q-menu anchor="bottom right" self="top right">
        <q-item>
          <q-input
            v-model="insertLink.title"
            outlined
            color="secondary"
            label="标题"
          />
        </q-item>
        <q-item>
          <q-input
            v-model="insertLink.url"
            class="q-pt-sm"
            autofocus
            outlined
            color="secondary"
            label="链接"
          />
        </q-item>

        <q-item
          v-close-popup
          class="bg-secondary text-center"
          clickable
          @click="handleInsertLink"
        >
          <q-item-section>插入</q-item-section>
        </q-item>
      </q-menu>
    </q-btn>

    <q-btn dense flat icon="add_link">
      <q-tooltip>插入锚点链接</q-tooltip>
      <q-menu
        v-model="anchorsTreeMenuVisible"
        anchor="bottom right"
        self="top right"
      >
        <q-tree
          class="menu-tree-anchor-points"
          default-expand-all
          :nodes="anchorsTreeData"
          node-key="key"
          no-connectors
          no-nodes-label="暂无锚点"
        >
          <template #default-header="prop">
            <div
              v-close-popup
              class="head-title ellipsis"
              @click="handleAnchorClick(prop.node)"
            >
              {{ prop.node.label }}
            </div>
          </template>
        </q-tree>
      </q-menu>
    </q-btn>

    <q-separator vertical />

    <q-btn dense flat icon="search" @click="handleSearch">
      <q-tooltip>搜索<br />Ctrl + F</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="find_replace" @click="handleReplace">
      <q-tooltip>替换<br />Ctrl + H</q-tooltip>
    </q-btn>

    <q-separator vertical />

    <q-btn dense flat icon="save" @click="saveCurrentContent">
      <q-tooltip>保存</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="content_copy" @click="copyFullText">
      <q-tooltip>复制全文</q-tooltip>
    </q-btn>

    <q-btn dense flat icon="download">
      <q-tooltip>下载</q-tooltip>
      <q-menu>
        <q-list>
          <q-item v-close-popup clickable @click="downloadMarkdownFile">
            <q-item-section>Markdown</q-item-section>
          </q-item>
          <q-item v-close-popup clickable @click="handleDownloadPDFFile">
            <q-item-section>PDF</q-item-section>
          </q-item>
          <q-item v-close-popup clickable @click="downloadHTMLFile">
            <q-item-section>HTML</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>

    <q-separator vertical />

    <q-btn v-if="totalLines > 0" dense flat icon="fast_forward">
      <q-tooltip>跳转到指定行</q-tooltip>
      <q-popup-edit v-model="jumpLineIndex" auto-save v-slot="scope">
        <q-input
          ref="jumpLineInput"
          v-model.number="scope.value"
          type="number"
          dense
          autofocus
          counter
          @keyup.enter="scope.set"
          @focus="selectJumpLineInputValue"
        >
          <template #before> 请输入行号 1 - {{ totalLines }}: </template>
        </q-input>
      </q-popup-edit>
    </q-btn>

    <template v-if="isRealtimeRender">
      <q-btn dense flat icon="visibility_off" @click="toggleRealtimeRender">
        <q-tooltip>关闭实时渲染</q-tooltip>
      </q-btn>
    </template>
    <template v-else>
      <q-btn dense flat icon="visibility" @click="toggleRealtimeRender">
        <q-tooltip>开启实时渲染</q-tooltip>
      </q-btn>
      <q-btn dense flat icon="sync" @click="renderText">
        <q-tooltip>渲染Markdown</q-tooltip>
      </q-btn>
    </template>

    <q-btn
      dense
      flat
      icon="settings_suggest"
      @click="handleThemeSettingsClick"
    ></q-btn>

    <ThemeSettingsDialog v-model="themeSettingsDialogVisible" />

    <q-btn
      dense
      flat
      :icon="isRowSplit ? 'table_rows' : 'view_column'"
      @click="toggleLayout"
    >
      <q-tooltip>切换布局</q-tooltip>
    </q-btn>
  </q-toolbar>

  <q-dialog v-model="pdfDialogVisible">
    <q-card class="pdf-dialog-card">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">生成PDF</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-splitter v-model="pdfSplitterModel" unit="px" style="height: 400px">
          <template #before>
            <div class="q-pa-md">
              <div class="text-h6 q-mb-md">截断条件调整</div>
              <q-card>
                <q-card-section class="bg-black">
                  <DeltaColor type="r" v-model="deltaColor.r" />
                  <DeltaColor type="g" v-model="deltaColor.g" />
                  <DeltaColor type="b" v-model="deltaColor.b" />
                  <DeltaColor type="a" v-model="deltaColor.a" />
                </q-card-section>

                <q-card-section>
                  <q-btn
                    label="预览"
                    color="secondary"
                    :loading="previewLoadingVisible"
                    @click="previewPDFPageImages"
                  />
                  <q-btn
                    label="下载"
                    :loading="previewLoadingVisible"
                    @click="downloadPDFFile"
                  />
                </q-card-section>
              </q-card>
            </div>
          </template>

          <template #after>
            <div class="q-pa-md">
              <div class="text-h6 q-mb-md">效果预览</div>
              <canvas ref="previewCanvasRef" class="preview-canvas"></canvas>

              <q-inner-loading
                :showing="previewLoadingVisible"
                label="正在生成..."
                label-class="secondary"
                label-style="font-size: 1.1em"
              />
            </div>
          </template>
        </q-splitter>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import ThemeSettingsDialog from '../ThemeSettingsDialog/index.vue';
import DeltaColor from '../../../DeltaColor/index.vue';
import useHistory, { canUndo, canRedo } from './useHistory';
import { handleSearch, handleReplace } from './useFindAndReplace';
import useFile, {
  deltaColor,
  pdfDialogVisible,
  previewLoadingVisible,
  pdfSplitterModel,
  copyFullText,
  downloadMarkdownFile,
  downloadHTMLFile,
} from './useFile';
import useHelpers, {
  themeSettingsDialogVisible,
  totalLines,
  jumpLineIndex,
  toggleRealtimeRender,
  renderText,
  isRealtimeRender,
  isRowSplit,
  toggleLayout,
  handleThemeSettingsClick,
} from './useHelpers';
import useText, {
  toggleBold,
  toggleItalic,
  toggleStrikeThrough,
  indentQuote,
  selectedFirstToUpper,
  indentHeader,
  insertBreakLine,
} from './useText';
import useHttp, {
  insertLink,
  anchorsTreeData,
  anchorsTreeMenuVisible,
  handleInsertImageLink,
  handleInsertLink,
  handleAnchorClick,
} from './useHttp';

const { handleUndo, handleRedo } = useHistory();
const {
  previewCanvasRef,
  saveCurrentContent,
  previewPDFPageImages,
  handleDownloadPDFFile,
  downloadPDFFile,
} = useFile();
const { jumpLineInput, selectJumpLineInputValue } = useHelpers();
useText();
useHttp();
</script>

<style lang="less" scoped>
.md-toolbar.md-toolbar {
  flex-wrap: wrap;
}

.menu-tree-anchor-points {
  max-width: 360px;

  .head-title {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }
}

.pdf-dialog-card {
  max-width: none;

  .preview-canvas {
    width: 100%;
  }
}
</style>
