<template>
  <div class="page-mpg window-height window-width column justify-center items-center">
    <AliUploader
      multiple
      label="Upload List"
      color="secondary"
      class="fit"
      uploadDir="mpg"
      style="max-height: auto"
    />
  </div>
</template>

<script setup lang="ts">
import AliUploader from 'src/components/AliUploader';
</script>

<style lang="scss" scoped>
.page-mpg {
  :deep(.q-uploader) {
    max-height: fit-content;
  }
}
</style>
