.pdf-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 17.82cm;
  background-color: #fff;

  .pdf-wrapper {
    word-break: break-all;
    line-break: auto;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    white-space: pre-wrap;
  }

  img {
    width: 100%;
  }
}