<template>
  <q-layout view="hHh Lpr lFf" class="bg-white">
    <q-header elevated class="bg-secondary">
      <q-toolbar>
        <!-- <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        /> -->

        <q-toolbar-title>
          亦见
          <q-icon :name="connectionIcon" size="sm">
            <q-tooltip>{{ connectionTooltip }}</q-tooltip>
          </q-icon>
        </q-toolbar-title>

        <q-btn
          :href="YIJIAN_HELP_DOC_URL"
          target="_blank"
          flat
          round
          icon="help"
          size="sm"
        >
          <q-tooltip>帮助</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      class="q-mini-drawer-only"
      mini
      behavior="desktop"
      :breakpoint="500"
      elevated
      bordered
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item
            clickable
            v-ripple
            v-for="(item, index) in menus"
            :key="index"
            :class="item.key === currentMenuKey && 'text-secondary'"
            @click="handleMenuItemClick(item)"
          >
            <q-item-section avatar>
              <q-icon :name="item.icon">
                <q-tooltip>{{ item.title }}</q-tooltip>
              </q-icon>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view :menu-key="currentMenuKey" />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useStore } from 'src/store';
import { getType } from 'store/yijian';
import { HAS_CONNECTED_TO_PUSHER } from 'store/yijian/getters-types';
import { YIJIAN_HELP_DOC_URL } from 'src/constant/yijian';

interface MenuItem {
  key: string;
  icon: string;
  title: string;
}

const store = useStore();
const menus: MenuItem[] = [
  {
    key: 'file',
    icon: 'folder_open',
    title: '查看',
  },
];

const leftDrawerOpen = true;
const leftColumnOpen = ref(true);
const currentMenuKey = ref('file');
const hasConnected = computed(() => {
  return store.getters[getType(HAS_CONNECTED_TO_PUSHER)] as boolean | null;
});
const connectionIcon = computed(() => {
  let icon = 'network_check';

  if (hasConnected.value === true) {
    icon = 'wifi';
  } else if (hasConnected.value === false) {
    icon = 'wifi_off';
  }

  return icon;
});

const connectionTooltip = computed(() => {
  let tip = '正在连接. . .';

  if (hasConnected.value === true) {
    tip = '已连接';
  } else if (hasConnected.value === false) {
    tip = '连接失败，请检查网络或与作者联系';
  }

  return tip;
});

const handleMenuItemClick = (item: MenuItem) => {
  if (item.key === currentMenuKey.value) {
    leftColumnOpen.value = !leftColumnOpen.value;
  } else {
    leftColumnOpen.value = true;
  }
  currentMenuKey.value = item.key;
};
</script>
