<template>
  <div class="col game-board relative-position">
    <canvas
      class="canvas"
      ref="canvasRef"
      :width="width"
      :height="height"
      @click="handleCanvasClick"
    >
    </canvas>

    <q-inner-loading
      :showing="innerLoadingVisible"
      label="等待对方同意..."
      label-class="text-teal"
      label-style="font-size: 1.1em"
    />
  </div>
</template>

<script setup lang="ts">
import {
  ref,
  watch,
  nextTick,
  onMounted,
  onUnmounted,
} from 'vue';
import useGame, {
  width,
  height,
  scale,
  ways,
  renderGame,
  ctx,
  handleCanvasClick,
  isHorizon,
  innerLoadingVisible,
} from '../modules/useGame';
import useSocket from '../modules/useSocket';

interface Props {
  /** 路数 */
  ways?: number;
}

const props = withDefaults(defineProps<Props>(), {
  ways: 19,
});

// Canvas基准大小
const baseSize = {
  width: 420,
  height: 300,
};

watch(
  () => props.ways,
  (val) => {
    ways.value = val;
  },
  {
    immediate: true,
  },
);

const canvasRef = ref<HTMLCanvasElement>();
useGame();
useSocket();

const handleResize = () => {
  const { clientWidth = 0, clientHeight = 0 } =
    canvasRef.value?.parentElement?.parentElement || {};
  if (clientWidth === 0 || clientHeight === 0) return;
  const baseRate = baseSize.width / baseSize.height;
  if (clientWidth / clientHeight >= baseRate) {
    height.value = Math.min(clientHeight, 500);
    width.value = baseRate * height.value;
    scale.value = height.value / baseSize.height;
    isHorizon.value = true;
  } else {
    width.value = Math.min(clientWidth, 800);
    height.value = width.value / baseRate;
    scale.value = width.value / baseSize.width;
    isHorizon.value = false;
  }

  nextTick(renderGame);
};

onMounted(() => {
  ctx.value = canvasRef.value?.getContext('2d') as CanvasRenderingContext2D;
  handleResize();

  window.addEventListener('resize', handleResize);
});

onUnmounted(() => {
  window.removeEventListener('resize', handleResize);
});
</script>

<style lang="less" scoped></style>
