<template>
  <q-dialog v-model="visibleValue">
    <q-card style="width: 800px; max-width: 800px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">编辑器设置</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-splitter v-model="splitterModel" unit="px">
          <template #before>
            <q-tabs v-model="currentTab" vertical class="text-teal">
              <q-tab name="editor" icon="mode_edit" label="编辑器" />
              <q-tab name="wordbench" icon="work_outline" label="工作台" />
            </q-tabs>
          </template>

          <template #after>
            <q-scroll-area style="height: 320px">
              <q-tab-panels
                v-model="currentTab"
                animated
                swipeable
                vertical
                transition-prev="jump-up"
                transition-next="jump-up"
              >
                <q-tab-panel name="editor">
                </q-tab-panel>

                <q-tab-panel name="wordbench">
                  <div class="text-h5 q-mb-xs">外观</div>
                  <div class="text-subtitle1">颜色主题</div>
                  <p class="text-body2">为编辑区域设置颜色主题。</p>

                  <q-select
                    filled
                    v-model="currentTheme"
                    :options="themeOptions"
                    option-label="title"
                    color="secondary"
                    input-debounce="0"
                    use-input
                    hide-selected
                    fill-input
                    emit-value
                    map-options
                    @filter="handleFilterThemes"
                    @update:model-value="handleSwitchThemeClick"
                  >
                    <template #option="{ itemProps, opt }">
                      <q-item v-bind="itemProps">
                        <q-item-section>
                          <q-item-label>
                            <div v-html="opt.title"></div>
                          </q-item-label>
                          <q-item-label caption>{{ opt.type }}</q-item-label>
                        </q-item-section>

                        <q-item-section side v-if="opt.key === 'chrome'">
                          <q-item-label>默认</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </q-tab-panel>
              </q-tab-panels>
            </q-scroll-area>
          </template>
        </q-splitter>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import {
  themeOptions,
  currentTheme,
  handleFilterThemes,
  handleSwitchThemeClick,
} from './modules/useWorkbenchSettings';

interface Props {
  visible?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  visible: false,
});
const emits = defineEmits(['update:visible']);

const visibleValue = computed<boolean>({
  get() {
    return props.visible;
  },
  set(val) {
    emits('update:visible', val);
  },
});
const splitterModel = ref(200);
const currentTab = ref('editor');
</script>

<style lang="less" scoped></style>
