<template>
  <q-scroll-area
    class="col text-data-list overflow-hidden"
    bordered
    content-style="width: 100%;"
  >
    <q-list>
      <TextDataItem
        v-for="(item, index) in dataList"
        :key="item.key"
        :item="item"
        :index="index"
        :active="currentSelectedIndex === index"
        @selected="handleItemSelected"
        @open-stackedit="handleOpenStackeditOn"
        @delete="hanldeItemDelete"
      >
      </TextDataItem>
    </q-list>
  </q-scroll-area>
</template>

<script setup lang="ts">
import { YijianData } from 'store/yijian/models';
import { computed } from 'vue';
import { useStore } from 'store';
import { getType } from 'store/yijian';
import { REMOVE_AT } from 'store/yijian/mutation-types';
import { DATA_LIST } from 'store/yijian/getters-types';
import TextDataItem from '../TextDataItem.vue';
import useSelect, { currentSelectedIndex, selectDataAt } from './useSelect';

const emits = defineEmits(['selectChanged', 'open-stackedit']);
const store = useStore();
const dataList = computed(
  () => store.getters[getType(DATA_LIST)] as YijianData[],
);
const { updateDataContent } = useSelect();

const handleItemSelected = (item: YijianData, index: number) => {
  updateDataContent(index);
  emits('selectChanged', item, index);
};

const handleOpenStackeditOn = (item: YijianData, index: number) => {
  emits('open-stackedit', item, index);
};

const hanldeItemDelete = (index: number) => {
  store.commit(getType(REMOVE_AT), index);

  if (index === currentSelectedIndex.value) {
    const lastIndex = dataList.value.length - 1;
    const lastItem = dataList.value[lastIndex];
    selectDataAt(lastIndex, lastItem);
  }
};
</script>

<style lang="less" scoped></style>
