<template>
  <div
    class="delta-color"
    @mousedown="handleMouseDown"
    @mousemove="handleMouseMove"
    @mouseup="handleMouseUp"
    @mouseleave="handleMouseLeave"
  >
    <progress :value="modelValue" max="255" class="delta"></progress>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { debounce } from 'quasar';

interface Props {
  type: 'r' | 'g' | 'b' | 'a';
  modelValue?: number;
}

const props = withDefaults(defineProps<Props>(), {
  type: 'a',
  modelValue: 255,
});
const emits = defineEmits(['update:modelValue']);

const modelValue = computed({
  get() {
    return props.modelValue;
  },
  set(val: number) {
    emits('update:modelValue', Math.round(Math.min(Math.max(val, 0), 1) * 255));
  },
});

const value = computed(() => modelValue.value / 255);

const cssVar = computed(() => {
  let bgc = '';
  switch (props.type) {
    case 'r':
      bgc = `rgba(${props.modelValue}, 255, 255, 1)`;
      break;
    case 'g':
      bgc = `rgba(255, ${props.modelValue}, 255, 1)`;
      break;
    case 'b':
      bgc = `rgba(255, 255, ${props.modelValue}, 1)`;
      break;
    case 'a':
      bgc = `rgba(255, 255, 255, ${modelValue.value})`;
      break;
  }
  return {
    left: `${value.value * 100}%`,
    bgc: bgc,
  };
});

let isHolding = false;

const updateModelValue = debounce((e: MouseEvent) => {
  modelValue.value = e.offsetX / (e.target as HTMLElement).clientWidth;
}, 50);

const handleMouseDown = (e: MouseEvent) => {
  const x = e.offsetX;
  const l = (e.target as HTMLElement).clientWidth * value.value;
  isHolding = Math.abs(x - l) <= 7;
  if (isHolding) return;
  updateModelValue(e);
};

const handleMouseMove = (e: MouseEvent) => {
  if (!isHolding) return;
  updateModelValue(e);
};

const handleMouseUp = () => {
  isHolding = false;
};

const handleMouseLeave = () => {
  isHolding = false;
};
</script>

<style lang="less" scoped>
.delta-color {
  --left: v-bind(cssVar.left);
  --bgc: v-bind(cssVar.bgc);
  position: relative;
  line-height: 1;
  height: 14px;

  progress {
    position: relative;
    background-color: transparent;

    &::-webkit-progress-bar {
      background-color: #fff;
      border-radius: 7px;
    }

    &::-webkit-progress-value {
      background-color: var(--bgc);
      border-radius: 7px;
    }

    &:before {
      content: attr(value);
      position: absolute;
      top: 0;
      left: 50%;
      line-height: 14px;
      font-size: 12px;
    }
  }

  &:hover {
    &:after {
      display: block;
      width: 14px;
      height: 14px;
      background-color: #666;
    }
  }

  &:after {
    content: '';
    width: 3px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: var(--left);
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.3s;
  }
}
</style>
