<template>
  <div class="markdown-editor overflow-hidden">
    <div
      ref="renderBoxRef"
      class="col row no-wrap justify-between q-py-xs rendered-text"
      :class="isRowSplit || 'full-height'"
    >
      <q-scroll-area class="side-bar" direction="vertical">
        <div class="column items-center">
          <q-btn
            dense
            stretch
            flat
            size="sm"
            icon="open_in_full"
            @click="viewInFullWindow"
          >
            <q-tooltip>窗口预览<br />F11</q-tooltip>
          </q-btn>
          <q-btn
            dense
            stretch
            flat
            size="sm"
            icon="fullscreen"
            @click="viewInFullScreen"
          >
            <q-tooltip>全屏预览<br />Shift + F11</q-tooltip>
          </q-btn>
        </div>
      </q-scroll-area>
      <q-scroll-area
        ref="renderContainerRef"
        class="fit render-container"
        :class="viewModeClass"
        @scroll="handleRenderContainerScroll"
      >
        <div class="markdown-body q-px-xs" v-html="htmlText"></div>
        <q-btn
          v-show="viewMode === RenderViewMode.FULL_WINDOW"
          class="btn-exit-fullwindow"
          icon="close_fullscreen"
          @click="viewInNormal"
        />
      </q-scroll-area>
    </div>
    <div
      class="col column no-wrap relative-position editor"
      :class="isRowSplit ? 'full-width' : 'full-height'"
    >
      <EditBar v-if="isRowSplit" />
      <pre id="editor" class="ace_editor q-my-none">
        <textarea class="ace_text-input"></textarea>
      </pre>
    </div>
  </div>
</template>

<script setup lang="ts">
import EditBar from './components/EditBar/index.vue';
import useCommon, {
  htmlText,
  viewMode,
  viewModeClass,
  RenderViewMode,
  viewInFullWindow,
  viewInFullScreen,
  viewInNormal,
} from './modules/useCommon';
import useAce from './modules/useAce';
import useUpdate from './modules/useUpdate';
import { isRowSplit } from './components/EditBar/useHelpers';

useCommon();
useUpdate();
const { handleRenderContainerScroll, renderBoxRef, renderContainerRef } =
  useAce();

defineExpose({
  renderContainerRef,
});
</script>

<style lang="less" scoped>
@import url('./styles/github-markdown-light.css');
@import url('prismjs/themes/prism-okaidia.css');

.markdown-editor {
  > .rendered-text {
    overflow-y: auto;

    > .side-bar {
      width: 30px;
    }

    > .render-container {
      &.full-window {
        position: fixed;
        top: 0;
        left: 0;
        padding: 8px;
        background-color: #fff;
        z-index: 9999;
        width: 100vw !important;
        height: 100vh !important;
      }

      .btn-exit-fullwindow {
        position: fixed;
        top: 8px;
        right: 16px;
      }
    }
  }

  .editor {
    .ace_editor {
      flex: auto;
    }
  }
}
</style>
