<template>
  <q-scroll-area style="height: 300px; width: 320px">
    <q-tab-panels v-model="tab">
      <q-tab-panel class="q-pa-xs" name="wechat">
        <EmojiPanel v-close-popup name="wechat" :count="110" @click="handleEmojiClick" />
      </q-tab-panel>
      <q-tab-panel class="q-pa-xs" name="qq_face">
        <EmojiPanel v-close-popup name="qq_face" :count="52" @click="handleEmojiClick" />
      </q-tab-panel>
    </q-tab-panels>
  </q-scroll-area>
  <q-tabs
    v-model="tab"
    class="secondary"
  >
    <q-tab name="wechat" label="微信" />
    <q-tab name="qq_face" label="QQ" />
  </q-tabs>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EmojiPanel from 'src/components/EmojiPanel.vue';

const emits = defineEmits(['click']);
const tab = ref('wechat');

function handleEmojiClick(name: string, index: number) {
  emits('click', name, index);
}
</script>

<style lang="less" scoped></style>
