<template>
  <div tabindex="-1" class="emoji-panel">
    <i v-for="index in items" :key="index" tabindex="-1" :class="`emoji emoji-${props.name}-${index}`" @click="emits('click', props.name, index)"></i>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

interface Props {
  size?: number;
  name: string;
  count: number;
}

const emits = defineEmits(['click']);
const props = withDefaults(defineProps<Props>(), {
  size: 32,
});
const items = computed(() => [...Array(props.count)].map((_, i) => i));
</script>

<style lang="less" scoped>
.emoji-panel {
  --emoji-size: v-bind('props.size + "px"');
  display: flex;
  flex-wrap: wrap;
  max-width: 312px;
  padding: 8px;
  overflow: hidden;

  .emoji {
    margin-left: 4px;
    margin-top: 4px;

    &:hover {
      background-color: #eee;
      border-radius: 4px;
      transform: scale(1.2);
    }
  }
}
</style>
