<template>
  <div class="gomoku" :class="isHorizon ? 'row' : 'column'">
    <GameBoard class="col-auto" />

    <div class="chat col-grow column">
      <q-scroll-area ref="chatScrollRef" class="full-width q-pa-md row justify-center col-grow">
        <div style="width: 100%; max-width: 400px">
          <template v-for="(item, index) in chatMessages" :key="index">
            <q-chat-message
              v-if="item.type === ChatType.MESSAGE"
              :name="item.name"
              :text="[item.text]"
              :sent="item.name === userName"
            />
            <q-chat-message
              v-else-if="item.type === ChatType.NOTICE"
              :label="item.text"
            >
              <template #label>
                <div class="chat-label" v-html="item.text"></div>
              </template>
            </q-chat-message>
          </template>
        </div>
      </q-scroll-area>

      <q-input v-model="sendingText" bottom-slots label="" dense>
        <template #after>
          <q-btn round dense flat icon="send" @click="handleSendBtnClick" />
        </template>
      </q-input>
    </div>

    <q-dialog v-model="nameDialogVisible" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">大侠名号？</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input v-model="userName" dense autofocus @keyup.enter="handleConfirmName" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn v-close-popup flat label="确认" @click="handleConfirmName" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script setup lang="ts">
import GameBoard from './components/GameBoard.vue';
import { isHorizon } from './modules/useGame';
import { nameDialogVisible, userName, handleConfirmName } from './modules/useUserInfo';
import { chatMessages, sendingText, handleSendBtnClick, ChatType } from './modules/useChat';
import { ref, watch } from 'vue';
import { QScrollArea } from 'quasar';

const chatScrollRef = ref<QScrollArea>();

watch(() => chatMessages.value.length, () => {
  chatScrollRef.value?.setScrollPercentage('vertical', 100, 300);
});
</script>

<style lang="less" scoped>
.gomoku {
  width: 100vw;
  height: 100vh;

  .chat {
    .chat-label {
      :deep(.name) {
        margin: 0 4px;
        color: var(--q-secondary);
      }
    }
  }
}
</style>
