/* app global css */
[class*="emoji-qq_face"] {
  background-image: url('https://yiyun-yijian.oss-cn-chengdu.aliyuncs.com/yijian/mdImages/emoji/qq_face.png');
  background-size: calc(var(--emoji-size) * 9) calc(var(--emoji-size) * 6);
}

[class*="emoji-wechat"] {
  background-image: url('https://yiyun-yijian.oss-cn-chengdu.aliyuncs.com/yijian/mdImages/emoji/wechat.png');
  background-size: calc(var(--emoji-size) * 11) calc(var(--emoji-size) * 10);
}
