body {
  --emoji-size: 24px;
}

.emoji {
  display: inline-block;
  width: var(--emoji-size);
  height: var(--emoji-size);
  background-position: var(--emoji-size) var(--emoji-size);
  vertical-align: top;
  overflow: hidden;
}
