<template>
  <q-card style="width: 800px">
    <q-card-section></q-card-section>

    <q-card-section>
      <q-list
        ref="scrollTargetRef"
        class="chat-list scroll-y"
        style="max-height: 420px; overflow-x: hidden"
      >
        <q-infinite-scroll
          reverse
          :offset="100"
          :scroll-target="scrollTargetRef"
          @load="handleScrollLoad"
        >
          <template v-for="(item, index) in records" :key="index">
            <q-chat-message
              :class="item.reference && 'has-reference'"
              :name="`${item.sender.name}  ${fixTime(item.timestamp)}`"
              :sent="item.sender._id === props.user._id"
              :bg-color="item.sender._id === user._id ? 'green-6' : 'white'"
              :data-ref-id="item.reference?._id"
              :data-ref-text="`${item.reference?.sender?.name}: ${item.reference?.content}`"
            >
              <div
                v-if="typeof item.content === 'string'"
                class="chat-message"
                v-html="item.content"
              ></div>
              <div
                v-for="(msg, mi) in item.content"
                v-else
                :key="mi"
                class="chat-message"
                v-html="msg"
              ></div>
            </q-chat-message>
          </template>
        </q-infinite-scroll>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { ChatDto, queryChatRecords } from 'src/api/ano/chat';
import dayjs from 'dayjs';
import { Notify, QList } from 'quasar';
import { AES, enc, SHA256 } from 'crypto-js';
import { PUBLIC_KEY, CHAT_IMAGE_RE, CHAT_IMAGE_FULL_RE, CHAT_EMOJI_RE } from 'src/constant/ano';

interface Props {
  user: User;
}

const props = defineProps<Props>();

const query = {
  start: 0,
  size: 10,
  timestamp: Date.now(),
};

const records = ref<ChatDto[]>([]);
const isFinished = ref(false);
const scrollTargetRef = ref<Element | undefined>(undefined);

function decodeChatMessage(item?: ChatDto): ChatDto | undefined {
  if (!item) return void 0;

  const { _id } = item.sender;
  const ivSHA256 = SHA256(_id);
  const textDecrypt = AES.decrypt(item.content as string, PUBLIC_KEY, { iv: ivSHA256 }).toString(
    enc.Utf8,
  );
  const html = textDecrypt
    .replace(/\n/g, '<br>')
    .replace(CHAT_IMAGE_FULL_RE, (p) => {
      const url = p.match(CHAT_IMAGE_RE)?.[0];
      if (!url) return '';

      return `<img class="img-chat" src="${url}"></img>`;
    })
    .replace(CHAT_EMOJI_RE, '<i class="emoji $1"></i>');
  item.content = html;
  if (item.reference) {
    item.reference = decodeChatMessage(item.reference);
  }
  return item;
}

async function getRecords() {
  if (isFinished.value) return;

  const res = await queryChatRecords(query);
  const data = res?.data || [];
  data.forEach(decodeChatMessage);
  while (data.length) {
    records.value.unshift(data.shift()!);
  }
  console.log('历史', records.value);
  query.start = res?.end || 0;
  isFinished.value = !!res?.finished;
}

async function handleScrollLoad(index: number, done: (stop: boolean) => void) {
  try {
    await getRecords();
  } finally {
    if (isFinished.value) {
      Notify.create({
        message: '加载完了',
        color: 'secondary',
      });
    }
    done(isFinished.value);
  }
}

function fixTime(val: number) {
  const date = dayjs(val);
  return date.format('YYYY年MM月DD日 HH:mm:ss');
}
</script>

<style lang="less" scoped>
.chat-list {
  :deep(.img-chat) {
    max-width: 200px;
  }

  .q-message {
    clear: both;

    &.has-reference {
      &:after {
        content: attr(data-ref-text);
        display: block;
        width: fit-content;
        float: left;
        margin-top: 4px;
        padding: 4px 8px;
        color: #888;
        border-radius: 2px;
        background-color: #ddd;
      }

      &.q-message-sent {
        &:after {
          float: right;
        }
      }
    }
  }
}
</style>
