<template>
  <q-splitter v-model="splitterModel" horizontal class="ano column">
    <template #before>
      <q-splitter
        class="member-splitter overflow-hidden"
        v-model="memberSplitterModel"
        :limits="[50, 100]"
        @contextmenu.prevent="null"
      >
        <template #before>
          <q-scroll-area
            ref="chatScroll"
            class="chat-scroll fit q-pa-md row justify-center col-grow"
          >
            <div v-for="(item, index) in chatMessages" :key="index" style="clear: both">
              <q-chat-message
                :class="item.reference && 'has-reference'"
                :name="item.name"
                :sent="item.sender === user._id"
                :bg-color="item.sender === user._id ? 'green-6' : 'white'"
                :data-ref-id="item.reference?._id"
                :data-ref-text="`${item.reference?.name}: ${item.reference?.text}`"
              >
                <div v-if="isString(item.text)" class="chat-message" v-html="item.text"></div>
                <div
                  v-else
                  v-for="(msg, mi) in item.text"
                  :key="mi"
                  class="chat-message"
                  v-html="msg"
                ></div>
              </q-chat-message>

              <q-menu touch-position context-menu>
                <q-list>
                  <q-item v-close-popup clickable @click="handleReferenceClick(item)">
                    <q-item-section>引用</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </div>
          </q-scroll-area>
          <q-icon
            v-show="!onlineUsersVisible"
            class="icon-ex cursor-pointer"
            size="sm"
            color="secondary"
            name="arrow_left"
            @click="handleExIconClick"
          />
        </template>

        <template #after>
          <q-list>
            <q-item v-for="(item, index) in onlineUsers" :key="index">
              <q-item-section>{{ item.name }}</q-item-section>
              <q-item-section>{{ item.updatedAt }}</q-item-section>
            </q-item>
          </q-list>
          <q-icon
            class="icon-col cursor-pointer"
            size="sm"
            color="secondary"
            name="arrow_right"
            @click="handleColIconClick"
          />
        </template>
      </q-splitter>
    </template>

    <template #after>
      <div class="column fit">
        <q-toolbar class="text-secondary" :class="canIUse || 'disabled'">
          <q-btn dense flat stretch icon="sentiment_satisfied_alt">
            <q-menu>
              <EmojiTabs @click="handleEmojiClick" />
            </q-menu>
          </q-btn>
          <q-btn dense flat icon="image" @click="handleImageBtnClick">
            <q-file ref="imageFileRef" v-model="imageFiles" class="hidden" multiple standout />
          </q-btn>
          <q-btn dense flat icon="history" @click="recordsDialogVisible = true" />
          <q-space />
          <q-btn :disable="!sendingTextComp" dense flat icon="send" @click="handleSendBtnClick" />
        </q-toolbar>

        <q-separator />

        <ali-uploader
          ref="uploaderRef"
          class="col full-width"
          color="secondary"
          multiple
          @added="handleImageAdded"
          @uploaded="handleImageUploaded"
        >
          <template #header></template>
          <template #list>
            <q-scroll-area class="input-area q-pa-sm col-grow" @click="handleEditAreaClick">
              <div
                ref="inputBox"
                class="input-box no-outline"
                :contenteditable="canIUse"
                @input="handleInputChange"
                @keyup="handleInputKeyUp"
                @click="handleInputClick"
              ></div>
              <div v-if="referenceChatMessage" class="ref" :data-ref="referenceChatMessage._id">
                {{ referenceChatMessage.name }}: {{ referenceChatMessage.text }}
                <q-menu touch-position context-menu>
                  <q-list>
                    <q-item v-close-popup clickable @click="handleDeleteReferenceClick">
                      <q-item-section>删除</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </div>
            </q-scroll-area>
          </template>
        </ali-uploader>
      </div>
    </template>

    <q-dialog v-model="nameDialogVisible">
      <q-card>
        <q-card-section>
          <div class="text-h6">大侠留名</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input v-model="user.name" color="secondary" autofocus />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="确认" color="secondary" @click="handleConfirmClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-splitter>

  <q-dialog v-model="recordsDialogVisible">
    <ChatRecords :user="user" />
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, reactive, computed, onBeforeMount, watch } from 'vue';
import { io, Socket } from 'socket.io-client';
import { ChatType, UserStatus } from 'src/constant/enum';
import { createUser } from 'src/api/user';
import { QFile, useQuasar } from 'quasar';
import { AES, enc, SHA256 } from 'crypto-js';
import type { QScrollArea } from 'quasar';
import ChatRecords from './ChatRecords.vue';
import EmojiTabs from 'src/components/EmojiTabs.vue';
import { getOnlineUsers } from 'src/api/ano/chat';
import dayjs from 'dayjs';
import { uploadImage } from 'src/api/yijian/oss';
import {
  PUBLIC_KEY,
  CHAT_IMAGE_RE,
  CHAT_IMAGE_FULL_RE,
  KEY_CHAT_INFO,
  EMOJI_TAG_CLASS_RE,
  CHAT_EMOJI_RE,
} from 'src/constant/ano';
import type AliUploader from 'src/components/AliUploader';

const $q = useQuasar();
const splitterModel = ref(64);
const memberSplitterModel = ref(80);
const inputBox = ref<HTMLInputElement | null>(null);
const referenceChatMessage = ref<ChatMessage | null>(null);
const chatScroll = ref<QScrollArea | null>(null);
const user = reactive<User>({
  _id: '',
  name: '',
  status: 2,
});
const canIUse = computed<boolean>(() => !!user._id && user.status === UserStatus.ACTIVED);
const chatMessages = ref<ChatMessage[]>([]);
const sendingText = ref('');
const sendingTextComp = ref('');
const nameDialogVisible = ref(false);
const recordsDialogVisible = ref(false);
const onlineUsers = ref<User[]>([]);
const onlineUsersVisible = ref(true);
const imageFiles = ref<File[] | null>(null);
const imageFileRef = ref<QFile | null>(null);
const uploaderRef = ref<typeof AliUploader | null>(null);
let imageFilesDict: Record<string, File> = {};
let socket: Socket;
let lastEditRange: Range | null = null;

function isString(val: string | string[]) {
  return typeof val === 'string';
}

function readChatInfo() {
  const info = localStorage.getItem(KEY_CHAT_INFO);
  const res = info ? (JSON.parse(info) as User) : null;
  return res;
}

function saveChatInfo(info: User) {
  localStorage.setItem(KEY_CHAT_INFO, JSON.stringify(info));
}

function initSocket() {
  socket = new (io as any)();

  socket.on('connect', () => {
    socket.emit('joinChat', { userId: user._id });

    window.addEventListener('beforeunload', () => {
      socket.emit('leaveChat', { userId: user._id });
      // e.preventDefault();
      // Chrome requires returnValue to be set.
      // e.returnValue = '';
    });
  });

  socket.on('disconnect', () => {
    socket.emit('exited', user);
  });

  socket.on('joinedChat', getChatUsers);

  socket.on('talk', (res) => {
    const item = decodeChatMessage(res as ChatMessageResDto)!;

    const lastMsg = chatMessages.value[chatMessages.value.length - 1];
    // TODO 加入时间判断，与列表第一天发言相隔两分钟即放入下一条
    if (lastMsg && !lastMsg.reference && !item.reference && lastMsg.sender === item.sender) {
      lastMsg.text = [lastMsg.text as string, item.text as string];
    } else {
      chatMessages.value.push(item);
    }
    setTimeout(scrollChatToBottom, 10);
  });
}

function decodeChatMessage(item?: ChatMessageResDto): ChatMessage | undefined {
  if (!item) return void 0;

  const { name, _id } = item.sender;
  const ivSHA256 = SHA256(_id);
  const textDecrypt = AES.decrypt(item.content, PUBLIC_KEY, { iv: ivSHA256 }).toString(
    enc.Utf8,
  );
  const html = textDecrypt
    .replace(/\n/g, '<br>')
    .replace(CHAT_IMAGE_FULL_RE, (p) => {
      const url = p.match(CHAT_IMAGE_RE)?.[0];
      if (!url) return '';

      return `<img class="img-chat" src="${url}"></img>`;
    })
    .replace(CHAT_EMOJI_RE, '<i class="emoji $1"></i>');
  return {
    _id: item._id,
    sender: _id,
    name,
    type: ChatType.MESSAGE,
    reference: decodeChatMessage(item.reference),
    text: html,
  };
}

function scrollChatToBottom() {
  chatScroll.value?.setScrollPercentage('vertical', 2, 200);
}

async function handleConfirmClick() {
  if (!user.name) return;
  const res = await createUser(user.name);
  Object.assign(user, res);
  saveChatInfo(user);
  nameDialogVisible.value = false;
  initSocket();
}

function handleEditAreaClick(e: MouseEvent) {
  if (!canIUse.value) {
    nameDialogVisible.value = true;
    return;
  }

  if (
    !!sendingTextComp.value &&
    e.target !== inputBox.value &&
    (e.target as HTMLElement).parentNode !== inputBox.value
  ) {
    setFocusToEnd();
  }
  inputBox.value?.focus();
}

function setFocusToEnd(sel = window.getSelection()) {
  sel!.selectAllChildren(inputBox.value!); // 选择节点下所有子内容
  sel!.collapseToEnd(); // 光标移至最后
}

function handleInputChange(e: Event) {
  sendingText.value = (e.target as HTMLElement).innerText;
  getSendingTextComp();
}

function handleInputKeyUp(e: KeyboardEvent) {
  const sel = window.getSelection();
  const range = sel!.getRangeAt(0);
  lastEditRange = range;
  if (e.key.toLowerCase() === 'enter') {
    if (!e.ctrlKey && !e.shiftKey) {
      handleSendBtnClick();
      e.preventDefault();
    } else {
      const node = document.createElement('div');
      node.appendChild(document.createElement('br'));
      range.insertNode(node);
      setFocusToEnd();
    }
  }
}

async function handleSendBtnClick() {
  let text = sendingTextComp.value || '';
  if (text) {
    const links = text.match(CHAT_IMAGE_RE);
    if (links) {
      const res = await Promise.all(
        links.map((link) => {
          const file = imageFilesDict[link];
          if (!file) return Promise.resolve('');

          return uploadImage(file);
        }),
      );
      links.forEach((link, index) => {
        text = text.replace(link, ((<any>res[index])?.url as string) || '');
      });
      imageFilesDict = {};
    }
    const ivSHA256 = SHA256(user._id);
    const textEncrypts = AES.encrypt(text, PUBLIC_KEY, { iv: ivSHA256 });
    socket.emit('talk', {
      sender: user._id,
      content: textEncrypts.toString(),
      reference: referenceChatMessage.value?._id,
    });
    inputBox.value!.innerText = '';
    referenceChatMessage.value = null;
  } else {
    $q.notify({
      type: 'info',
      color: 'secondary',
      position: 'bottom-right',
      message: '内容不能为空',
      timeout: 1200,
    });
  }
}

async function getChatUsers() {
  const res = (await getOnlineUsers()) || [];
  onlineUsers.value = res.map((item) => {
    return {
      ...item.user,
      updatedAt: item.updatedAt
        ? dayjs(item.updatedAt as number | undefined).format('MM-DD HH:mm:ss')
        : '',
    };
  });
}

function handleExIconClick() {
  memberSplitterModel.value = 80;
  onlineUsersVisible.value = true;
}

function handleColIconClick() {
  memberSplitterModel.value = 100;
  onlineUsersVisible.value = false;
}

function getSendingTextComp() {
  sendingTextComp.value = getSendingTextInDIV(inputBox.value!).replace(/^\s+|\s+$/g, '');
}

function getSendingTextInDIV(div: HTMLElement) {
  if (!div) return '';

  let text = '';
  for (const el of div.childNodes || []) {
    const nodeName = el?.nodeName?.toLowerCase() || '';
    const className: string = (<HTMLElement>el)?.className?.toLowerCase() || '';
    if (className.includes('emoji')) {
      if (EMOJI_TAG_CLASS_RE.test(className)) {
        text += `/(${className.match(EMOJI_TAG_CLASS_RE)?.[0] || ''})`;
      }
    } else if (nodeName === '#text') {
      text += (<Text>el).data;
    } else if (nodeName === 'img') {
      text += `[img](${(<HTMLImageElement>el).src})`;
    } else if (nodeName === 'div') {
      text += getSendingTextInDIV(el as HTMLDivElement).replace(/\n+$/g, '');
    }
  }
  return text;
}

function handleImageBtnClick() {
  imageFileRef.value!.pickFiles();
}

function handleEmojiClick(name: string, index: number) {
  inputBox.value!.focus();
  const sel = window.getSelection();
  if (lastEditRange) {
    // 存在最后光标对象，选定对象清除所有光标并添加最后光标还原之前的状态
    sel!.removeAllRanges();
    sel!.addRange(lastEditRange);
  }
  const range = sel!.getRangeAt(0);
  const emoji = document.createElement('i');
  emoji.contentEditable = 'false';
  emoji.className = `emoji emoji-${name}-${index}`;
  range.insertNode(emoji);
  setTimeout(() => {
    setFocusToEnd();
  }, 50);
}

function handleInputClick() {
  const sel = window.getSelection();
  const range = sel!.getRangeAt(0);
  lastEditRange = range || null;
}

function insertImages(files: File[]) {
  inputBox.value!.focus();
  const sel = window.getSelection();
  const range = sel!.getRangeAt(0);
  files.forEach((file) => {
    const src = URL.createObjectURL(file);
    const img = new Image();
    img.src = src;
    img.style.maxWidth = '100px';
    img.onload = function () {
      URL.revokeObjectURL(src);
    };
    range.insertNode(img);
    imageFilesDict[src] = file;
  });
  setFocusToEnd();
  imageFiles.value = [];
  getSendingTextComp();
}

function handleImageAdded(files: File[]) {
  insertImages(files);
}

function handleImageUploaded() {
  uploaderRef.value!.removeQueuedFiles();
}

function handleReferenceClick(item: ChatMessage) {
  referenceChatMessage.value = item;
  setTimeout(() => {
    inputBox.value!.focus();
    if (lastEditRange) {
      const sel = window.getSelection();
      sel!.removeAllRanges();
      sel!.addRange(lastEditRange);
    }
  }, 50);
}

function handleDeleteReferenceClick() {
  referenceChatMessage.value = null;
  setTimeout(() => {
    setFocusToEnd();
  }, 50);
}

watch(imageFiles, (val) => {
  if (!val || val.length < 1) return;

  insertImages(val);
});

onBeforeMount(() => {
  const info = readChatInfo();
  if (info) {
    Object.assign(user, info);
    initSocket();
  }
});
</script>

<style lang="less" scoped>
.ano {
  width: 100vw;
  height: 100vh;

  .member-splitter {
    .chat-scroll {
      background-color: #eee;

      .q-message {
        &.has-reference {
          &:after {
            content: attr(data-ref-text);
            display: block;
            width: fit-content;
            float: left;
            margin-top: 4px;
            padding: 4px 8px;
            color: #888;
            border-radius: 2px;
            background-color: #ddd;
          }

          &.q-message-sent {
            &:after {
              float: right;
            }
          }
        }
      }

      :deep(.img-chat) {
        max-width: 200px;
      }
    }

    .icon-ex {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .icon-col {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .input-area {
    height: 100%;
    font-size: 16px;
    line-height: 24px;

    .input-box {
      + .ref {
        width: fit-content;
        max-width: 300px;
        padding: 4px 8px;
        color: #888;
        border-radius: 2px;
        background-color: #eee;
        user-select: none;
      }
    }
  }
}

:deep(.chat-message) {
  line-height: 24px;
}
</style>
