<template>
  <div class="reference-chat-msg">
    {{ props.item.name }}
  </div>
</template>

<script setup lang="ts">
interface Props {
  item: ChatMessage;
}

const props = defineProps<Props>();
</script>

<style lang="less" scoped></style>
