<template>
  <q-page :style-fn="getPageStyle">
    <div class="row fit yijian">
      <div class="col-3 column full-height no-wrap q-px-xs operate-area">
        <AnchorTree @node-click="handleAnchorNodeClick" />
        <TextDataList
          @select-changed="handleSelectChanged"
          @open-stackedit="handleOpenStackedit"
        />
      </div>

      <div class="col column edit-area full-height">
        <EditBar class="edit-bar" v-if="!isRowSplit" />

        <MarkdownEditor
          ref="mdEditor"
          class="col markdown-editor"
          :class="isRowSplit ? 'column full-height' : 'row full-width'"
        />
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import TextDataList from './components/TextDataList/index.vue';
import AnchorTree from './components/AnchorTree/index.vue';
import MarkdownEditor from './components/MarkdownEditor/index.vue';
import type { YijianData } from 'src/store/yijian/models';
import EditBar from './components/MarkdownEditor/components/EditBar/index.vue';
import { isRowSplit } from './components/MarkdownEditor/components/EditBar/useHelpers';
import { selectDataAt, currentSelectedIndex } from './components/TextDataList/useSelect';
import { QTreeNode } from 'quasar';
import Stackedit from 'stackedit-js';
import { useStore } from 'store';
import { getType } from 'store/yijian';
import { CHANGE_DATA } from 'store/yijian/mutation-types';
import { doc } from './components/MarkdownEditor/modules/useAce';
import usePusher from './modules/usePusher';

const store = useStore();
const stackedit = new Stackedit();
const stackeditText = ref('');
stackedit.on('fileChange', (file: any) => {
  stackeditText.value = file.content.text;
});

stackedit.on('close', () => {
  if (currentSelectedIndex.value < 0) return;

  store.commit(getType(CHANGE_DATA), {
    index: currentSelectedIndex.value,
    content: stackeditText.value,
  });

  doc.value?.setValue(stackeditText.value, -1);
});

const mdEditor = ref<typeof MarkdownEditor | null>(null);

const getPageStyle = (offset: number, height: number) => {
  return {
    height: (height - offset).toString() + 'px',
  };
};

const handleSelectChanged = (item: YijianData, index: number) => {
  selectDataAt(index, item);
};

const handleOpenStackedit = (item: YijianData) => {
  stackedit.openFile({
    name: item.key,
    content: {
      text: item.content,
    },
  });
};

const handleAnchorNodeClick = (node: QTreeNode) => {
  const anchor = document.getElementById(node.id as string);
  mdEditor.value?.$refs.renderContainerRef.setScrollPosition(
    'vertical',
    anchor?.offsetTop,
  );
};

usePusher();
</script>

<style lang="less" scoped>
.yijian {
  > .operate-area {
    border-right: 1px solid #bebebe;
  }

  .edit-area {
    .markdown-editor:first-child {
      :deep(.CodeMirror) {
        flex: 1;
        height: auto;

        .CodeMirror-scroll {
          height: 100%;
          overflow-x: hidden !important;
        }
      }
    }

    .markdown-editor:not(:first-child) {
      :deep(.CodeMirror) {
        height: auto;
      }
    }
  }
}
</style>
