<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/YuI-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/YuI-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/YuI-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/YuI-16x16.png">
    <link rel="icon" type="image/ico" href="YuI.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <script src="/js/vconsole.min.js"></script>
    <script>
      if (window.location.search.indexOf('vc=1') > -1) {
        new VConsole();
      }
    </script>
  </body>
</html>
